WORDPRESS_URL=https://furniture.pinul.com
WORDPRESS_HOSTNAME=furniture.pinul.com
# If using the revalidate plugin
# You can generate by running `openssl rand -base64 32` in the terminal
WORDPRESS_WEBHOOK_SECRET=<your-secret-key>
